<!DOCTYPE html>
<html lang="en">

<head>
    <title>College Finder</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Education master is one of the best educational html template, it's suitable for all education websites like university,college,school,online education,tution center,distance education,computer education">
    <meta name="keyword" content="education html template, university template, college template, school template, online education template, tution center template">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    @*<link rel="shortcut icon" href="~/images/fav.ico" type="image/x-icon">*@
    <!-- GOOGLE FONT -->    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="~/css/materialize.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="~/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>


    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img style="height:50px" src="images/Darshanlogo2.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Menu</h4>
                            <ul>
                                <li><a asp-controller="College" asp-action="AllColleges">All Colleges</a></li>
                                <li><a asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a></li>
                                <li><a asp-controller="AboutUs" asp-action="AboutUs">Abount Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a asp-controller="Home" asp-action="Index">
                            <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">COLLEGE FINDER</h3>
                        </a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <h4></h4>
                            <ul>
                                <li><a asp-controller="College" asp-action="AllColleges" >All Colleges</a></li>
                                <li><a asp-controller="AboutUs"  asp-action="AboutUs" >About Us</a></li>
                                <li><a asp-controller="ContactUs" asp-action="ContactUs">Cotact US</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li>
                                    <a href="#">Contact: Rajkot  - Ravi Vadaliya</a>
                                </li>
                                <li>
                                    <a href="#">Phone: +91-9182736450</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                              @*  <li>
                                    <a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li>
                                    <a href="#!" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>*@
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a asp-controller="Home" asp-action="Index">
                              <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif " >COLLEGE FINDER</h3>
                            </a>    
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                              @*  <li class="admi-menu">
                                    <a asp-controller="Admission" asp-action="Index" class="mm-arr">Admission</a>
                                </li>*@
                                <li><a asp-controller="College" asp-action="AllColleges">All Colleges</a></li>
                                <li class="about-menu">
                                    <a asp-controller="AboutUs" asp-action="AboutUs" class="mm-arr">About us</a>
                                </li>   
                                <li>
                                    <a asp-controller="ContactUs" asp-action="ContactUs">Contact us</a>
                                </li>
                                <li><a asp-area="Admin" asp-controller="Admin" asp-action="AdminIndex">Admin Panel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">
                    </div>

                </div>
            </div>
        </div>
    </section>

    @RenderBody();

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">

            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Top Courses</h4>
                    <ul>
                        <li><a href="#">Computer Engineering</a></li>
                        <li><a href="#">Civil Engineering</a></li>
                        <li><a href="#">Marine Engineering</a></li>
                        <li><a href="#">Electrical Engineering</a></li>
                        <li><a href="#">Mechanical Engineering</a></li>
                    </ul>
                </div>
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Darshan university Rajkot-morbi Highway</p>
                    <p>Phone: <a href="#">+91 9182736452</a></p>
                    <p>Email: <a href="#">ravi.vadaliya@gmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li>
                            <a href="#">24x7 Live help</a>
                        </li>
                        <li>
                            <a asp-controller="ContactUs" asp-action="ContactUs">Contact us</a>
                        </li>
                         <li>
                            <a asp-controller="AboutUs" asp-action="AboutUs">About us</a>
                        </li>

                        <li>
                            <a asp-controller="College" asp-action="AllColleges">FAQs</a>
                        </li>   
                    
                    </ul>
                </div>
            </div>
           
        </div>
    </section>



    <!--Import jQuery before materialize.js-->
    <script src="~/js/main.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>


</html>