@{
    Layout = "~/Views/Shared/Adminlayout/AdminLayout.cshtml";
}


<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">



    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Dashboard</a>
            </li>

        </ul>
    </div>
    <!--== DASHBOARD INFO ==-->
   @* <div class="sb2-2-1">
        <h2>Admin Dashboard</h2>
        <div class="db-2">
            <ul>
                <li>
                    <div class="dash-book dash-b-1">
                        <h5>All Colleges</h5>
                        <h4>10</h4>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Engineering</h5>
                        <h4>100</h4>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Medical</h5>
                        <h4>100</h4>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-4">
                        <h5>Admission</h5>
                        <h4>100</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>*@

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Google Map</h4>
                        <p>Education is about teaching, learning skills and knowledge.</p>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi tab-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118147.82106515938!2d70.73889438913474!3d22.273466166614785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959c98ac71cdf0f%3A0x76dd15cfbe93ad3b!2sRajkot%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1681579686955!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="dvMap" style="width: 60%; height: 400px">
    </div>

</div>

          

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAH_iEsi4Ir2wGeXSWaVWUizZ9sK064gl8"></script>
    <script type="text/javascript">
        var markers = @Html.Raw(ViewBag.Markers);
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

            for (i = 0; i < markers.length; i++) {  
                var data = markers[i];
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }

    </script>
