@{
    ViewData["Title"] = "Home Page";
}

<!-- SLIDER -->
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slider1 active">
                <img src="~/images/slider/1.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Welcome to <span>College Finder</span></h2>
                    <p>Here you can easily fing a engineering colleges in india </p>
                    <a asp-controller="College" asp-action="AllColleges" class="bann-btn-1">All College</a>
                </div>
            </div>
            <div class="item">
                <img src="~/images/slider/2.jpg" alt="">
                <div class="carousel-caption slider-con">
                    <h2>Choose your <span>faveorite College </span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    <a  asp-controller="College" asp-action="AllColleges"  class="bann-btn-1">Admission</a>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <i class="fa fa-chevron-left slider-arr"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <i class="fa fa-chevron-right slider-arr"></i>
        </a>
    </div>
</section>

<!-- QUICK LINKS -->
@*<section>
    <div class="container">
        <div class="row">
            <div class="wed-hom-ser">
                <ul>
                    <li>
                        <a asp-controller="College" asp-action="AllColleges" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="~/images/icon/h-ic2.png" alt=""> Admission</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
*@





<section>
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>Happy<span> Students</span></h2>
                        <p>What Our Students Say About College Finder</p>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="ed-advan">
                        <ul>
                          
                            <li>
                   
                                <div class="ed-ad-dec">
                                    <h4>Rishit</h4>
                                    <p>College finder is very helpful. They provided me best college</p>
                                </div>
                            </li>
                            <li>
                         
                                <div class="ed-ad-dec">
                                    <h4>Ravi</h4>
                                    <p>"Excellent service by college finder i am sooo happy..."</p>
                                </div>
                            </li>
                           
                            <li>
                              
                                <div class="ed-ad-dec">
                                    <h4>Deep</h4>
                                    <p>It's help me find best college merit wise</p>
                                </div>  
                            </li>
                            
                            <li>
                              
                                <div class="ed-ad-dec">
                                    <h4>Mohit</h4>
                                    <p>Here i have to easily find best colleges my nearest area.</p>
                                </div>  
                            </li>
                            
                            <li>
                              
                                <div class="ed-ad-dec">
                                    <h4>Meet</h4>
                                    <p>I can easily apply for college</p>
                                </div>  
                            </li>

                            <li>

                                <div class="ed-ad-dec">
                                    <h4>Rutvik</h4>
                                    <p>All details are available of particuler college</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ed-about-sec1">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>



