@{
    Layout = "~/Views/Shared/Adminlayout/AdminLayout.cshtml";
}

@model CollegeFinder.Areas.User.Models.UserModel;
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#">AddEdit User</a>
            </li>
            <li class="page-back">
                <a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp admin-form">
                    <div class="inn-title">
                        <h4>AddEdit User</h4>
                        <p>Here you can edit your website basic details URL, Phone, Email, Address, User and password and more</p>
                    </div>
                    <div class="tab-inn">
                        <form asp-area="user" asp-controller="user" asp-action="Save">
                            @Html.HiddenFor(x=>x.userid)
                            <div class="row">

                                <div class="input-field col s12">
                                    <h5>User Name</h5>
                                    <input id="list-title" type="text" asp-for="usename" class="validate">
                                    <span asp-validation-for="usename" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>User Mobile</h5>
                                    <input id="list-title" type="text" asp-for="usermobile" class="validate">
                                    <span asp-validation-for="usermobile" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>User Email</h5>
                                    <input id="list-title" type="text" asp-for="usermailid" class="validate">
                                    <span asp-validation-for="usermailid" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>User City</h5>
                                    <input id="list-title" type="text" asp-for="usercity" class="validate">
                                    <span asp-validation-for="usercity" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>User State</h5>
                                    <input id="list-title" type="text" asp-for="userstate" class="validate">
                                    <span asp-validation-for="userstate" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>User Country</h5>
                                    <input id="list-title" type="text" asp-for="usercountry" class="validate">
                                    <span asp-validation-for="usercountry" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="input-field col s12">
                                    <h5>Creation Date</h5>
                                    <input id="list-title" type="datetime" asp-for="creationdate" class="validate">
                                    <span asp-validation-for="creationdate" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>Modification Date</h5>
                                    <input id="list-title" type="datetime" asp-for="modificationdate" class="validate">
                                    <span asp-validation-for="modificationdate" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="input-field col s12">
                                    <h5>User Password</h5>
                                    <input id="list-title" type="text" asp-for="userpassword" class="validate">
                                    <span asp-validation-for="userpassword" class="text-danger"></span>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input" value="Submit"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

