<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                    <form>
                        <div class="sf-type">
                            <div class="sf-input">
                                <input type="text" id="sf-box" placeholder="Search course and discount courses">
                            </div>

                        </div>
                        <div class="sf-submit">
                            <input type="submit" value="Search Course">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPULAR COURSES -->
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>All <span>College</span></h2>
                <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="container">
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div>
                            <div class="col-md-3">
                                <img src="https://darshan.ac.in/Content/media/DU_Logo.svg" alt=""> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.9567485712596!2d70.78213937497189!3d22.430653679593036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959c7a3ba783351%3A0x28dc6eea8324e9d2!2sDarshan%20University!5e0!3m2!1sen!2sin!4v1681225489533!5m2!1sen!2sin" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        
                       </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a href="course-details.html">
                                <h3>Darshan institute Of Engineering And Technology</h3>
                            </a>
                            <h5>Rajkot, Gujarat</h5>
                            <hr/>
                            @*<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>*@

                            
                            <table>
                                   <tr>
                                       <td>Bechelore Of Engineering</td>
                                   </tr>
                                   <tr>
                                    <td>Duration :</td>
                                    <td>4 Years</td>
                                   </tr>
                                <tr>
                                    <td>Total Fees :</td>
                                    <td>Rs 2,24,000/-</td>
                                </tr>
                                <tr>
                                    <td>Affiliated to: </td>
                                    <td>Gujarat Technological University</td>
                                </tr>
                            </table>

                            <div class="hom-list-share">
                                <ul>
                                    <li><a asp-controller="Courses" asp-action="SingleCourse" ><i class="fa fa-bar-chart" aria-hidden="true"></i> Apply Now</a> </li>
                                    <li><a ><i class="fa fa-eye" aria-hidden="true"></i>10 Aavailable</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="container">
                    <!--POPULAR COURSES-->
                    <div class="home-top-cour">
                        <!--POPULAR COURSES IMAGE-->
                        <div class="col-md-3"> <img src="~/images/Marvadi1.png" alt=""><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.9567485712596!2d70.78213937497189!3d22.430653679593036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959c7a3ba783351%3A0x28dc6eea8324e9d2!2sDarshan%20University!5e0!3m2!1sen!2sin!4v1681226800574!5m2!1sen!2sin" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
                        <!--POPULAR COURSES: CONTENT-->
                        <div class="col-md-9 home-top-cour-desc">
                            <a href="course-details.html">
                                <h3>Darshan institute Of Engineering And Technology</h3>
                            </a>
                            <h5>Rajkot, Gujarat</h5>
                            <hr />
                            @*<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>*@


                            <table>
                                <tr>
                                    <td>Bechelore Of Engineering</td>
                                </tr>
                                <tr>
                                    <td>Duration :</td>
                                    <td>4 Years</td>
                                </tr>
                                <tr>
                                    <td>Total Fees :</td>
                                    <td>Rs 2,24,000/-</td>
                                </tr>
                                <tr>
                                    <td>Affiliated to: </td>
                                    <td>Gujarat Technological University</td>
                                </tr>
                            </table>
                            

                            <div class="hom-list-share">
                                <ul>
                                    <li><a asp-controller="Courses" asp-action="SingleCourse"><i class="fa fa-bar-chart" aria-hidden="true"></i> Apply Now</a> </li>
                                    <li><a><i class="fa fa-eye" aria-hidden="true"></i>10 Aavailable</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
